@import './global/colors.global';

.app {
  top: 10px;
  left: 0;
  right: 0;
  color: $darkGrey;
  height: calc(100% - 10px);
  position: absolute;
  font-family: Helvetica Neue, Helvetica, serif;

  /* pointer */
  &:before {
    content: '';
    top: -9px;
    left: 50%;
    width: 0;
    height: 0;
    z-index: 2;
    position: absolute;
    margin-left: -14px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid white;
  }

  > section { background: transparent; }
}

.offline {
  &:before { border-bottom: 14px solid #e6e6e6 !important; }

  > span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    position: absolute;
    min-width: 400px;
    justify-content: center;
    background: $transparentBlack;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  > section {
    height: 100%;
    overflow: hidden;
    position: relative;

    > span {
      width: 100%;
      height: 100%;
      filter: blur(1px);
      position: absolute;
    }
  }
}
