.avatar {
  width: 90px;
  height: 90px;
  margin: 20px auto;
  border: 1px solid #d1d1d1;
  display: block;
  border-radius: 45px;
}

.avatar[class^="icon-"],
.avatar[class*=" icon-"] {
  color: #d1d1d1;
  font-size: 88px;
}
