.header {
  height: 45px;
  padding: 7px;
  position: relative;
  border-bottom: 1px solid #d1d1d1;
}

.icon {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #d1d1d1;
  text-align: center;
  line-height: 28px;
  position: absolute;;
}

.icon[class^="icon-"]:before,
.icon[class*=" icon-"]:before {
  top: 2px;
  color: #0f93fc;
  position: relative;
}

.startDate,
.title {
  left: 45px;
  position: absolute;
}

.title {
  top: 14px;
  font-size: 14px;
}

.title.withDate { top: 7px; }

.startDate {
  top: 23px;
  color: #9b9b9b;
  font-size: 10px;
  line-height: 14px;
}
