.footer {
  margin: 10px 0;
}

.footer hr {
  margin: 0 20px 20px;
}

.footer p,
.footerLink {
  color: #9b9b9b;
  font-size: 12px;
}

.footerLink {
  margin: 0 7px 10px;
  display: inline-block;
  position: relative;
  font-weight: 300;
  text-decoration: none;
}

.footerLink:hover { border-bottom: 1px solid; }

.footerLink:after {
  right: -8px;
  content: '|';
  position: absolute;
  pointer-events: none;
}

.footerLink:last-child:after { content: ''; }
