.footer {
  width: calc(100% - 40px);
  bottom: 0;
  margin: 20px;
  position: absolute;
  border-top: 1px solid #d1d1d1;
}

.footer p,
.footerLink {
  color: #9b9b9b;
  font-size: 12px;
}

.footer p { margin-top: 15px; }

.footerLink {
  margin: 0 7px;
  display: inline-block;
  position: relative;
  font-weight: 300;
  text-decoration: none;
}

.footerLink:hover { border-bottom: 1px solid; }

.footerLink:after {
  right: -8px;
  content: '|';
  position: absolute;
  pointer-events: none;
}

.footerLink:last-child:after { content: ''; }
