@import './global/colors.global';

.footer {
  width: calc(100% - 40px);
  bottom: 0;
  margin: 20px;
  position: absolute;
  border-top: 1px solid $lightGrey;
}

.footer p,
.footerLink {
  color: $grey;
  font-size: 12px;
}

.footer p { margin-top: 15px; }

.footerLink {
  margin: 0 7px;
  display: inline-block;
  position: relative;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  &:hover { border-bottom-color: $grey; }

  &:after {
    right: -8px;
    content: '|';
    position: absolute;
    pointer-events: none;
  }

  &:last-child:after { content: ''; }
}
