@value colors: "./global/colors.global.css";
@value lightGrey from colors;

.header {
  height: 35px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid lightGrey;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.slider {
  width: 33.333%;
  height: 2px;
  bottom: 0;
  position: absolute;
  background: #0f93fc;
  transition: transform 300ms;
}

.sliderActive1 { transform: translateX(0); }
.sliderActive2 { transform: translateX(100%); }
.sliderActive3 { transform: translateX(200%); }
