@value colors: "./global/colors.global.css";
@value blue, grey, lightGrey from colors;

.headerTab {
  color: lightGrey;
  flex-grow: 1;
  background: white;
  text-align: center;
  transition: color 300ms;
  text-decoration: none;
}

.headerTab[class^="icon-"]:before,
.headerTab[class*=" icon-"]:before { line-height: 35px; }

.headerTab:hover { color: grey; }

.headerTab.active { color: blue; }
