.loginContainer {
  padding: 38px;
  display: flex;
  justify-content: center;
  animation: fadeIn 300ms;
  animation-fill-mode: forwards;
}

.loginForm {
  width: 300px;
  height: 255px;
  text-align: center;
}

.logo {
  width: 45px;
  height: 45px;
  margin: 10px;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
