.loginContainer {
  padding: 38px;
  display: flex;
  justify-content: center;
}

.loginForm {
  width: 300px;
  height: 255px;
  text-align: center;
}

.logo {
  width: 45px;
  height: 45px;
  margin: 10px;
}

.loginButton {
  width: 100%;
  color: white;
  border: none;
  height: 30px;
  margin: 5px 0;
  font-size: 14px;
  background: #34abff;
  font-weight: 300;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background 300ms;
}

.loginButton:hover {
  background: #008cf0;
}
