.numericQuestion {
  margin-bottom: 20px;
}

.numericQuestion h3 {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
}

.numericButton {
  height: 33px;
  border: 1px solid #d1d1d1;
  border-right: none;
  display: inline-block;
  flex-grow: 1;
  font-size: 15px;
  background: white;
}

.numericButton:hover {
  color: white;
  background: #34abff;
}

.numericButton:global.active,
.numericButton:global.active {
  color: white;
  background: #34abff;
}

.numericButton:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.numericButton:last-of-type {
  border-right: 1px solid #d1d1d1;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.numericQuestion span {
  font-size: 10px;
  margin-top: 5px;
  display: inline-block;
}

.numericQuestion span.right { float: right; }
