@value colors: "./global/colors.global.css";
@value red, rust, mustard, lime, green, darkGrey, lightGrey from colors;

.pictoralQuestion {
  margin-bottom: 20px;
}

.pictoralQuestion h3 {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
}

.pictoralButton {
  width: 20%;
  height: 60px;
  border: 1px solid lightGrey;
  overflow: hidden;
  flex-grow: 1;
  font-size: 30px;
  background: white;
  border-right: none;
}

.pictoralButton[class^="icon-"]:before,
.pictoralButton[class*=" icon-"]:before {
  display: block;
  margin-top: 8px;
  margin-bottom: 3px;
}

.pictoralButton[class^="icon-"]:hover,
.pictoralButton[class*=" icon-"]:hover {
  color: white;
  background: mustard;
}

.pictoralButton[class^="icon-"]:hover span,
.pictoralButton[class*=" icon-"]:hover span {
  color: white;
}

.pictoralButton[class^="icon-"]:global.active,
.pictoralButton[class*=" icon-"]:global.active {
  color: white;
  background: mustard;
}

.pictoralButton[class^="icon-"]:global.active span,
.pictoralButton[class*=" icon-"]:global.active span {
  color: white;
}

.pictoralButton:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pictoralButton:last-of-type {
  border-right: 1px solid lightGrey;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pictoralButton:global.icon-very-unsatisfied { color: red; }
.pictoralButton:global.icon-unsatisfied      { color: rust; }
.pictoralButton:global.icon-neutral          { color: mustard; }
.pictoralButton:global.icon-satisfied        { color: lime; }
.pictoralButton:global.icon-very-satisfied   { color: green; }

.pictoralButton span {
  color: darkGrey;
  font-size: 8px;
  vertical-align: top;
  pointer-events: none;
}
