@import './global/colors.global';

.surveyTextQuestion { margin-bottom: 0; }

.surveyCheckbox > input + label { margin-top: 0; }

.survey {
  .surveyFormContainer { padding: 10px; }

  .submitted {
    color: $grey;
    font-size: 60px;
    margin-top: 30%;
    text-align: center;
  }

  .submittedContent {
    animation: slideContent 10s ease 1;
    animation-fill-mode: forwards;

    h2,
    aside {
      width: 100%;
      position: absolute;
    }
  }
}

:global .submittedContent-appear { opacity: 0; }
:global .submittedContent-appear.submittedContent-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

@keyframes slideContent {
  0%   { transform: translateX(0); }
  45%  { transform: translateX(0); }
  50%  { transform: translateX(-100%); }
  95%  { transform: translateX(-100%); }
  100% { transform: translateX(-200%); }
}
