@value colors: "./global/colors.global.css";
@value grey from colors;

.survey .surveyFormContainer { padding: 10px; }

.surveyTextQuestion { margin-bottom: 0; }

.surveyCheckbox > input + label { margin-top: 0; }

.survey .submitted {
  color: grey;
  font-size: 60px;
  margin-top: 30%;
  text-align: center;
}

.survey .submittedContent {
  animation: slideContent 10s ease 1;
  animation-fill-mode: forwards;
}

.survey .submittedContent h2,
.survey .submittedContent aside {
  width: 100%;
  position: absolute;
}

:global .submittedContent-appear { opacity: 0; }
:global .submittedContent-appear.submittedContent-appear-active {
  opacity: 1;
  transition: opacity 300ms;
}

@keyframes slideContent {
  0%   { transform: translateX(0); }
  45%  { transform: translateX(0); }
  50%  { transform: translateX(-100%); }
  95%  { transform: translateX(-100%); }
  100% { transform: translateX(-200%); }
}
