.userProfile {
  animation: fadeIn 300ms;
  animation-fill-mode: forwards;
}

.userProfile :global .tabContainer {
  background: white;
  text-align: center;
}

.name {
  color: #545555;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.email {
  color: #9b9b9b;
  margin-top: 2px;
}

.attributesContainer {
  margin: 30px 60px 20px;
}

.attributesContainer div { clear: both; height: 25px; }
.attributesContainer span { font-size: 14px; }
.attributesContainer span:nth-of-type(2n) { float: right; }
.attributesContainer span:nth-of-type(2n + 1) { float: left; }

.userProfile :global .blueButton {
  margin: 0 60px 15px;
  width: calc(100% - 120px);
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
