.headerTab {
  color: #d1d1d1;
  flex-grow: 1;
  background: white;
  text-align: center;
  transition: color 300ms;
  text-decoration: none;
}

:before { line-height: 35px !important; }

:hover { color: #9b9b9b; }

.active { color: #0f93fc; }
