$darkGrey: #545555;
$grey: #9b9b9b;
$lightGrey: #d1d1d1;
$ultraLightGrey: #efefef;

$transparentBlack: rgba(0, 0, 0, 0.1);
$transparentWhite: rgba(255, 255, 255, 0.3);

$blue: #34abff;
$darkBlue: #008cf0;

$red: #e74c3c;
$rust: #d35400;
$mustard: #f39c12;
$lime: #7ed321;
$green: #2ecc71;
