@value colors: "./colors.global.css";
@value blue, darkBlue, grey, darkGrey, lightGrey, ultraLightGrey from colors;

@import "./icon-font.global.css";
@import "./form.global.css";

html {
  box-sizing: border-box;
  -webkit-user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: transparent;
}

h1,
h2,
p {
  margin: 10px 0;
  font-weight: 300;
}

h1 {
  font-size: 24px;
  color: darkGrey;
}

h2 {
  font-size: 18px;
  color: grey;
}

p {
  font-size: 16px;
}

button {
  color: darkGrey;
  cursor: pointer;
  padding: 0;

  border-width: 0;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, serif;
}

button:focus {
  outline: none !important;
}

hr {
  height: 1px;
  border: none;
  background-color: lightGrey;
}

/* Below are global classes */

.tabContainer {
  width: 100%;
  height: calc(100% - 35px);
  overflow: auto;
  position: absolute;
  min-width: 400px;
  background: ultraLightGrey;
}

.cardContainer {
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid lightGrey;
  min-height: 100px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.blueButton {
  width: 100%;
  color: white;
  border: none;
  height: 30px;
  margin: 5px 0;
  position: relative;
  font-size: 15px;
  background: blue;
  font-weight: 300;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background 300ms;
}

.blueButton:hover {
  background: darkBlue;
}

.scalePulse { animation: scalePulse 500ms; }

/* keyframes */

@keyframes scalePulse {
  0%   { transform: scale(1); }
  20%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}
