@import "./icon-font.global.css";
@import "./form.global.css";


html {
  box-sizing: border-box;
  -webkit-user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: transparent;
}

#teamPulse {
  top: 10px;
  left: 0;
  right: 0;
  color: #545555;
  height: calc(100% - 10px);
  position: absolute;
  overflow-y: hidden;
  font-family: Helvetica Neue, Helvetica, serif;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#pointer {
  top: 5px;
  left: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -5px;
  transform: rotate(45deg);
  background-color: white;
}

h1,
h2,
p {
  margin: 10px 0;
  font-weight: 300;
}

h1 {
  font-size: 24px;
  color: #545555;
}

h2 {
  font-size: 18px;
  color: #9b9b9b;
}

p {
  font-size: 16px;
}

button {
  color: #545555;
  cursor: pointer;
  padding: 0;

  border-width: 0;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, serif;
}

button:focus {
  outline: none !important;
}

hr {
  height: 1px;
  border: none;
  background-color: #d1d1d1;
}

/* Below are global classes */

.tabContainer {
  width: 100%;
  height: calc(100% - 35px);
  overflow: auto;
  position: absolute;
  min-width: 400px;
  background: #efefef;
}

.cardContainer {
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid #d1d1d1;
  min-height: 100px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.blueButton {
  width: 100%;
  color: white;
  border: none;
  height: 30px;
  margin: 5px 0;
  position: relative;
  font-size: 15px;
  background: #34abff;
  font-weight: 300;
  border-radius: 4px;
  text-transform: uppercase;
  transition: background 300ms;
}

.blueButton:hover {
  background: #008cf0;
}

.question.scalePulse { animation: scalePulse 500ms; }

@keyframes scalePulse {
  0%   { transform: scale(1); }
  20%  { transform: scale(1.05); }
  100% { transform: scale(1); }
}
