.checkbox > label,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  color: #545555;
  margin: 5px 0;
  border: 1px solid #d1d1d1;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
}

.checkbox > label,
input[type="text"],
input[type="email"],
input[type="password"] {
  height: 30px;
  font-size: 14px;
  line-height: 2;
}

input:focus, textarea {
  outline: none !important;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

.checkbox > label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: left;
  background: white;
}

.checkbox input { display: none; }

.checkbox > label:before {
  right: 7px;
  color: #d1d1d1;
  content: "\62";
  position: absolute;
  font-family: "teamPulse" !important;
}

.checkbox > input:checked + label:before {
  color: #0f93fc;
  content: "\61";
}
